@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

HTML {
    margin-bottom: 500px;
}

.purple {
    color: #6415ff;
    font-weight: bold;
}

h1 {
    font-size: 48px;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.row__small {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}


nav {
    margin-top: 32px;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}


/* ================================ NAVIGATION =============================== */


#landing {
    padding-bottom: 96px;
}

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav__left {
    display: flex;
    align-items: center;
}

.logo__img {
    height: 40px;
    width: 40px;
}

.logo__anchor {
    padding-left: 12px;
    font-weight: 700;
}

.nav__link--list {
    display: flex;
    justify-content: space-between;
}

.nav__link--anchor {
    margin: 0 24px;
}

.nav__link--login {
    margin: 0 24px 0 48px;
}

.nav__link--signup {
    padding: 12px 32px;
    border-radius: 25px;
    color: #fff;
    background-color: #6415ff;
}


/* ================================ SECTION ONE =============================== */


.section-one {
    margin: 100px 0px;
    padding: 0 24px;
    display: flex;
}

/*  ---------- LEFT ---------- */

.section-one__left {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.section-one__para {
    margin: 32px 0;
    line-height: 1.5;
}

.email__area {
    height: 70px;
    border-radius: 30px;
    border: solid;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.email__text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.email {
    border: none;
    height:20px;
    position: absolute;
    left: 25px;
}

.btn__section-one {
    position: absolute;
    padding: 16px 24px;
    border-radius: 25px;
    right: 6px;
    top: 6px;
    bottom: 6px;
    color: #fff;
    background-color: #6415ff;
}

.customers {
    margin-top: 64px;
}

.img__customers {
    width: 100%;
    max-width: 550px;
    margin-top: 16px;
}

/* --------- RIGHT ------------ */

.section-one__right {
    width: 60%;
    display: flex;

}

.img__office {
    width: 100%;
}

/* ================================ FEATURES =============================== */

#features {
    margin: 96px 0;
}

.features__description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section__title {
    padding: 12px 0;
}

.features__para {
    text-align: center;
    width: 576px;
    margin: 16px 0 32px 0;
}

.features__container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 32px;
}

.feature__wrapper {
    width: 30%;
    display: flex;
    padding: 32px 8px;
    margin: 0 16px;
}

.feauture__img {
    border: solid lightgrey;
    border-radius: 50px;
    border-width: 1px;
    padding: 20px;
}

.feature__description {
    margin: 8px 0 0 16px;
}

.feature__para {
    margin-top: 16px;
    line-height: 1.5;
}

/* ================================ QUALITY WORK =============================== */


.section-two {
    display: flex;
    justify-content:space-around;
    padding: 48px 24px;
}

/* =============  LEFT  =============== */

.section-two__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 45%;
    padding: 16px 0;
}

.quality__para {
    margin-top: 16px;
}

.btn__section-two {
    border-radius: 25px;
    color: #fff;
    background-color: #6415ff;
    margin-top: 32px;
    padding: 12px 32px;
    width: fit-content;
    border: none;
}

/* =============  RIGHT  =============== */

.section-two__right {
    display: flex;
    width: 50%;
}

.quality__figure {
    display: flex;
    align-items: center;;
}

.section-two__img {
    width: 100%;
}

/* ================================ STEPS =============================== */

.section-three {
    display: flex;
    justify-content: space-between;
    padding: 48px 24px;
}

/* =============  LEFT  =============== */

.section-three__left {
    width: 45%;
    display: flex;
}

.steps__figure {
    display: flex;
    align-items: center;
}

.steps__img {
    width: 100%;
}

/* =============  RIGHT  =============== */

.section-three__right {
    width: 45%;
}

.step__container {
    display: flex;
    margin-top: 32px;
}

.step {
    margin-left: 24px;
}

.step__title {
    font-size: 20px;
}

.steps__para {
    margin-top: 12px;
}

.number {
    font-size: 36px;
    font-weight: bold;
    color: #cbd5e0;
}

/* ================================ VALUES =============================== */

.section-four {
    display: flex;
    justify-content: space-between;
    padding: 48px 24px;
}

/* =============  LEFT  =============== */

.section-four__left {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.values__para {
    margin-top: 32px;
}

.values__container {
    display: flex;
}

.affordable__container {
    margin: 32px 32px 0 0 ;
}

.title__wrapper {
    display: flex;
    align-items: center;
}

.icon__wrapper--affordable {
    border: none;
    background-color: #9AE6b4;
    border-radius: 50px;
    width: fit-content;
    padding: 4px 9px;
}

.values__subheading {
    margin-left: 12px;
    font-weight: bold;
}

.affordable__para {
    margin-top: 16px;
}

.icon__wrapper--professionalism {
    border: none;
    background-color: #FEB2B2;
    border-radius: 50px;
    width: fit-content;
    padding: 4px 9px;
}

.professionalism__container {
    margin-top: 32px;
}

/* =============  RIGHT  =============== */

.section-four__right {
    width: 45%;
    display: flex;
    align-items: center;
}

.section-four__figure {
    display: flex;
}

.section-four__img {
    width: 100%;
}


/* ================================ PRICING =============================== */

.section-five {
    padding: 48px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pricing-purple {
    margin-bottom: 16px;
}

.pricing__para {
    margin-top: 16px;
    max-width: 570px;
    text-align: center;
}

.plans__container {
    display: flex;
    margin-top: 64px;
    justify-content: space-between;
    flex-wrap: wrap;
    min-width: 100%;
}

/* =====    PLANS    ===== */

.plan__wrapper {
    border: solid lightgrey;
    padding: 0 16px;
    border-radius: 7px;
    width: 30%;
}

.business {
margin: 0 32px;
}

/* TOP BOX */


.top-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 0;
}

.plan-type {
    font-size: 20px;
    font-weight: bold;
}

.plan-price {
    font-size: 48px;
    font-weight: bold;
    margin: 12px 0;
}

.plan-term {
    font-size: 16px;
    font-weight: bold;
    color: #A0AEC0;
}

/* MIDDLE BOX */

.middle-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 16px;
}

.plan-for {
    font-size: 20px;
    font-weight: bold;
}

.plan-feature {
    margin-top: 20px;
    font-size: 16px;
    color: #718096;
}


/* BOTTOM BOX */

.bottom-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px 0px;
}

.btn__plans {
   border-radius: 25px;
   border: none;
   color: #fff;
   font-size: 14px;
   font-weight: bold;
   background-color: #6415ff;
   padding: 16px 64px;
   width: max-content;
}